
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }
  
.contenido {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    }
  
nav {
    flex-shrink: 0; 
    }
  
footer {
    flex-shrink: 0;
    }
  
    .contEspecifico {
    flex: 1; 
    padding: 1rem; 
    }
  