html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }
    
    .contenido {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    background-color: #9ad0ec;

    }
    
    nav {
    flex-shrink: 0;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; 
    background-color: #e3f2fd; 
    z-index: 1000;
  
    }
    
    footer {
    flex-shrink: 0;
    width: 100%;
    padding: 2%; 
    display: flex;
    justify-content: center;
    font-weight: bold;
    background-color: #e3f2fd;
    color: #0277bd;
    }
    
    .contEspecifico {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    box-sizing: border-box;
    flex: 1;
    padding: 1rem;
    padding-top: 80px;

}
hr.solid {
    border-top: 3px solid;
    color: rgba(255, 255, 255, 0.87);

  }

  .grilla {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }